.faq-listing{
    @include normalize-listing;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;

    & > li{
        position: relative;
        padding: 2rem 3rem;
        color: $mine-shaft;
        border: 1px solid $iron;
        border-radius: 5px;
        cursor: pointer;

        &:after{
            position: absolute;
            top: 23px;
            right: 20px;
            font-family: $font-awesome;
            font-size: 2rem;
            content: '\f107';
            color: $silver-chalice;
        }

        & + li{
            margin-top: 2rem;
        }

        &.is-active{
            background: $white;

            .question{
                margin-bottom: 2rem;
            }

            .answer{
                display: block;
            }

            &:after{
                content: '\f057';
            }
        }
    }

    .question{
        margin-bottom: 0px;
        padding-right: 1.5rem;
        font-size: 2rem;
        line-height: 2.4rem
    }

    .answer{
        @include default-text;
        display: none;
        color: $dusty-gray;
    }
}