*{
    box-sizing: border-box;
}

html{
    height: 100%;
}

body{
    position: relative;
    min-height: 100%;
    background: $porcelain;
}

.container{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

img{
    width: auto;
    max-width: 100%;
    height: auto;
}