.image-dialog{
    position: relative;
    display: block;

    button{
        display: block;
        max-width: 100%;
        margin: auto;
        padding: 0px;
        border: 0px;
        background: none;
    }

    .trigger{
        cursor: pointer;
    }

    .image-dialog-container{
        position: fixed;
        top: 0px;
        left: 0px;
        z-index: 1000;
        width: 100%;
        height: 100%;
        padding: 0px 5rem;
        overflow: auto;
    }

    .image-dialog-inner-container{
        position: relative;
        //display: -ms-flexbox;
        //display: flex;
        //align-items: center;
        //height: 100%;
        text-align: center;

        img{
            position: relative;
            z-index: 2;
            height: auto !important;
            width: auto !important;
            max-width: 100% !important;
            max-height: 100% !important;
            margin: 0px auto !important;
            border-radius: 5px;
            box-shadow: 0px 3px 20px rgba(0,0,0,0.8);
        }
    }

    .image-dialog-background{
        position: fixed;
        top: 0px;
        left: 0px;
        z-index: 1;
        display: block;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.5);
    }

    .close-dialog{
        position: fixed;
        top: 3rem;
        right: 3rem;
        z-index: 3;
        display: block;
        width: 14px;
        height: 23px;
        color: $white;
        cursor: pointer;
        overflow: hidden;

         &:before{
             font-family: $font-awesome;
             font-size: 2rem;
             font-weight: 900;
             content: '\f00d';
         }
    }

    &.show{
        .image-dialog-inner-container{
            img{
                position: relative !important;
                top: auto !important;
                left: auto !important;
                max-height: none !important;
                margin: 5rem auto !important;
            }
        }
    }
}

@media screen and (max-width: $screen-xs-max) {
    .image-dialog{
        .image-dialog-container{
            padding: 5rem 2rem;
        }

        .close-dialog{
            display: none;
        }
    }
}