@mixin normalize-listing($inline-block: 'false') {
    @if $inline-block == 'true' {
        display: inline-block;
    } @else {
        display: block;
    }
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    @if $inline-block == 'true' {
        vertical-align: top;
    }
}

@mixin clearfix() {
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}