.contact-form-container{
    .contact-form{
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;

        .btn{
            display: block;
            width: 100%;
        }
    }

    .field-listing{
        @include normalize-listing;

        & > li{
            width: 70%;
            margin: 0px 0px 20px 20%;

            &.field-row{
                display: grid;
                width: 100%;
                margin-left: 0px;
                grid-template-columns: 1fr 20px;
                grid-template-rows: auto;

                label{
                    @include set-grid(1,1,1,2);
                    margin: 13px 0px 5px 0px;
                }

                input,
                textarea{
                    @include set-grid(2,1,1,1);
                }

                .field-info{
                    @include set-grid(2,2,1,1);
                }
            }
        }
    }

    .field-info{
        display: block;
        margin: 13px 10px 0px 10px;
        font-size: 1.4rem;
        color: $dusty-gray;
    }
}

@media screen and (min-width: $screen-sm-min) {
    .contact-form-container{
        .field-listing{
            & > li{
                &.field-row{
                    grid-template-columns: 1fr 5fr 20px;

                    label{
                        @include set-grid(1,1,1,1);
                    }

                    input,
                    textarea{
                        @include set-grid(1,2,1,1);
                    }

                    .field-info{
                        @include set-grid(1,3,1,1);
                    }
                }
            }
        }
    }
}