.footer{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;

    .footer-bottom{
        padding: 15px 0px;
        background: $mine-shaft;

        &,
        a{
            color: $white;
            -webkit-font-smoothing: antialiased;
        }

        .logo{
            display: block;
            width: 100px;
            height: 35px;
            margin-right: 50px;
            color: transparent;
            text-indent: -9999px;
            background: url($images + 'IIT-v4-logo-t2-negative.png') no-repeat;
            background-size: contain;
        }

        .socials{
            @include normalize-listing;

            a{
                font-size: 18px;
            }
        }
    }

    .footer-text{
        margin: 1rem 0px;
    }
}

@media screen and (min-width: $screen-sm-min) {
    .footer{
        .footer-bottom{
            .container{
                display: grid;
                grid-template-columns: auto 1fr auto;
                grid-template-rows: auto;
                align-items: center;
            }

            .logo{
                @include set-grid(1,1,1,1);
            }

            .footer-text{
                @include set-grid(1,2,1,1);
                margin: 1rem 0px;
            }

            .socials{
                @include set-grid(1,3,1,1);
            }
        }
    }
}
