.homepage{
    .spotlight{
        position: relative;
        display: flex;
        //min-height: 400px;
        align-items: flex-end;
        text-align: center;
        color: $white;
        background: $deep-cerulean;
        background: linear-gradient(90deg, $deep-cerulean 0%, $bahama-blue 100%);
        overflow: hidden;

        &:after{
            position: absolute;
            bottom: 0px;
            left: 0px;
            z-index: 2;
            width: 100%;
            content: '';
            height: 1px;
            box-shadow: 0px 1px 10px lighten($mine-shaft, 5%);
        }

        .spotlight-title{
            margin-top: 4rem;
            margin-bottom: 0px;
            font-size: 4rem;
        }

        .tagline{
            max-width: 600px;
            margin: 0px auto calc(3.4% + 30px) auto;
        }

        .screenshot-listing{
            //height: 215px;
            @include normalize-listing;
            @include clearfix;
            width: 100%;
            margin-bottom: -3.4%;

            & > li{
                position: relative;
                display: inline-block;
                margin: 0px 10px;
                background: url($images + 'browser.svg') no-repeat;
                background-size: contain;
                vertical-align: top;
                box-shadow: 0px 1px 30px darken($regal-blue, 5%);

                .image-container{
                    padding-bottom: 64.1453%;
                }

                img{
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    display: block;
                    width: calc(100% - 5.75%);
                    margin: 15% 2.87% 0px 2.87%;
                }

                &:nth-child(1),
                &:nth-child(3){
                    width: calc(30% - 5.75%);
                }

                &:nth-child(2){
                    width: calc(35% - 5.75%);
                    margin-top: -3.4%;
                }
            }
        }

        .github-link-container{
            position: absolute;
            right: 0px;
            bottom: 0px;
        }

        .github-link{
            position: relative;
            display: block;
            width: 100px;
            height: 100px;
            text-indent: -9999px;
            color: transparent;

            &:before{
                position: absolute;
                top: 60px;
                left: 60px;
                z-index: 4;
                display: block;
                font-family: $font-awesome-brands;
                font-size: 22px;
                text-indent: 0px;
                color: $white;
                content: '\F09B';
            }

            &:after{
                position: absolute;
                top: 0px;
                left: 0px;
                z-index: 3;
                display: block;
                width: 0px;
                height: 0px;
                content: '';
                border-right: 50px solid $deep-cerulean;
                border-bottom: 50px solid $deep-cerulean;
                border-left: 50px solid transparent;
                border-top: 50px solid transparent;
            }
        }
    }

    .section-title{
        margin-bottom: 0px;
    }

    .demo-video-container{
        padding: 75px 0px;

        .video-outer-container{
            padding: 0px 0px 0px 50px;
        }

        .video-container{
            position: relative;
            display: block;
            width: 100%;
            padding-bottom: 56.25%;

            iframe{
                position: absolute;
                width: 100%;
                height: 100%;
            }
        }

        .text-container{
            padding: 0px 50px;
        }
    }

    .personal-group-section{
        padding: 75px 0px;
        text-align: center;
        background: $lochmara;
        color: $white;

        .intro-text{
            max-width: 600px;
            margin-right: auto;
            margin-left: auto;
        }

        ul,
        ol{
            text-align: left;
        }

        .container{
            max-width: 800px;
        }
    }

    .collaborative-environment{
        padding: 75px 0px;
        text-align: center;

        .text{
            max-width: 800px;
            margin-right: auto;
            margin-left: auto;
        }

        ul,
        ol{
            text-align: left;
        }
    }

    .metrics-and-charts{
        padding: 75px 0px;
        background: $orient;
        color: $white;
        text-align: center;
        overflow: hidden;

        .text{
            max-width: 650px;
            margin-right: auto;
            margin-left: auto;
        }

        ul,
        ol{
            text-align: left;
        }

        .images{
            margin: 50px -20px 0px -20px;

            .image-dialog{
                margin: 0px 20px;
                width: calc(100% - 40px);
            }
        }
    }

    .external-access{
        padding: 75px 0px;

        .text{
            display: block;
            max-width: 100%;
        }
    }

    .carousel-container{
        padding: 75px 0px;
        background: $orient;
        color: $white;
        text-align: center;

        .intro-text{
            max-width: 600px;
            margin-left: auto;
            margin-right: auto;
        }

        img{
            visibility: hidden;
            opacity: 0;
        }
    }
}

@media screen and (min-width: $screen-sm-min) {
    .homepage{
        .demo-video-container{
            .container{
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: auto;
            }

            .video-outer-container{
                @include set-grid(1,1,1,1);
            }

            .text-container{
                @include set-grid(1,2,1,1);
            }
        }

        .personal-group-section{
            .image-text-container{
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: auto;

                .text{
                    @include set-grid(1,2,1,1);
                    padding-left: 50px;
                }

                .image-dialog{
                    @include set-grid(1,1,1,1);
                }
            }
        }

        .metrics-and-charts{
            .images{
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: auto;

                .image-dialog{
                    &:nth-child(1){
                        @include set-grid(1,1,1,1);
                    }

                    &:nth-child(2){
                        @include set-grid(1,2,1,1);
                    }
                }
            }
        }

        .external-access{
            .container{
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: auto;
            }

            .text-container{
                @include set-grid(1,1,1,1);
                padding: 0px 50px;
            }

            .image-dialog{
                @include set-grid(1,2,1,1);
            }

            .text{
                margin-bottom: 0px;
            }
        }
    }
}

@media screen and (min-width: $screen-xs-min) and (max-width: $screen-xs-max) {
    .homepage{
        .demo-video-container,
        .personal-group-section,
        .collaborative-environment,
        .metrics-and-charts,
        .external-access{
            .container{
                padding-left: 5rem;
                padding-right: 5rem;
            }
        }

        .demo-video-container{
            .container{
                display: block;
            }

            .video-outer-container{
                float: left;
                width: 50%;
                margin: 0px 30px 20px 0px;
            }
        }
    }
}

@media screen and (max-width: $screen-xs-max) {
    .homepage{
        .spotlight{
            .screenshot-listing{
                & > li{
                    &:nth-child(1),
                    &:nth-child(3){
                        display: none;
                    }

                    &:nth-child(2){
                        width: calc(100% - 5.75%);
                    }
                }
            }
        }

        .demo-video-container{
            .container{
                display: block;
            }

            .text-container,
            .video-outer-container{
                padding: 0px;
            }

             .video-outer-container{
                margin-bottom: 3rem;
            }
        }

        .personal-group-section{
            .image-text-container{
                display: block;

                .image-dialog{
                    margin-bottom: 3rem;
                }
            }
        }

        .metrics-and-charts{
            .images{
                display: block;
            }

            .image-dialog{
                & + .image-dialog{
                    margin-top: 3rem;
                }
            }
        }

        .external-access{
            .container{
                display: block;
            }

            .text-container{
                padding-right: 0px;
            }
        }
    }
}

@media screen and (max-width: $screen-xxs-max) {
    .homepage{
        .demo-video-container,
        .personal-group-section,
        .collaborative-environment,
        .metrics-and-charts,
        .external-access{
            padding: 30px 0px;
        }
    }
}